<%- include('partials/header') %>
<section class="content">
  <h2>Our Services</h2>
  <ul>
    <li>Term Life Insurance</li>
    <li>Whole Life Insurance</li>
    <li>Claim Assistance</li>
  </ul>
</section>
<%- include('partials/footer') %>